body {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
.darkMode {
    background-color: black ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





